<div class="container">
<fieldset>

	<form action="/add_school" method="post">
		<dl>
			<dt>
				<label for="school_name">Add a new school to the library:</label>
			</dt>
			<dl>
				<input name="school_name" placeholder="School name" type="text" value="">
			</dl>
			<input type="submit" value="Add School">
			<a href="/">Cancel</a>
		</dl>
	</form>

</fieldset>
</div>