
<div class="container">
	<h1>Welcome to the Sheet Music Directory</h1>
	<h2>Select you school from below!</h2>
	<p>Click <a href="add_school">Here</a> to add a new school</p>
	<ul>
		<% @all_schools.each do |school| %>
			<li><a href="/school/<%= school[:id] %>" %><%= school[:name] %></a></li>
		<% end %>
	</ul>
</div>
